@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: black;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 16px 0;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .navbar {
    margin: auto;
  }
  .livro-principal {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 100%) 50%,
        rgba(0, 0, 0, 0.3)
      ),
      url("/img/background.png");
      margin: 1rem;
  }
  .livro-principal .descricao,
  .livro-principal .titulo,
  .livro-principal .subtitulo {
    width: 80%;
  }
  .livro-principal .titulo {
    font-size: 2em;
  }
  .livro-principal .subtitulo {
    font-size: 1.2em;
  }
  .botao {
    margin-top: 1em;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    margin-left: 5px;
  } 
  .titulo-carrossel {
    margin-top: 5em;
  }
}

@media (max-width: 381px) {
  .botao {
    font-size: 0.8em;
  }
}

@media (max-width: 354px) {
  .logo {
    font-size: 1.5rem;
  }
  .livro-principal .titulo {
    margin-top: 3rem;
    font-size: 1.5em;
  }
  .livro-principal .subtitulo {
    font-size: 1em;
  }
  .livro-principal .descricao {
    font-size: 0.8em;
  }
  .botao {
    font-size: 0.5em;
  }
  .titulo-carrossel {
    font-size: 1em;
  }
}
